.button-container {
  position: relative;
}

.textbox {
  position: absolute;
  top: -450%;
  left: -335%;
  transform: translateX(-50%);
  padding: 8%;
  background-color: #030917;
  border-radius: 1px;
  display: none;
  width: 280px;
}

.p-textbox {
 font-family: 'Raleway', sans-serif;
 font-size: 14px;
 line-height: 1.2rem;
 color: #C5D4CE;
 
}

.button-container:hover .textbox {
  display: block;
}