.space {
  width: 100%;
  height: 100%;
  margin: 0px;
  background: #030917;
  overflow: hidden;
}
.devicon-sqlite-plain-wordmark {
  font-size: 90px;
}
.devicon-javascript-plain {
  font-size: 60px;
}
.devicon-react-original-wordmark {
  font-size: 60px;
}

.overlay {
  position: absolute;
  top: 30%;
  left: 30%;
  transform: translate(-20%, -30%);
  text-align: center;
  z-index: 2;
}

.h1-overlay {
  color: #C5D4CE;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  margin-bottom: 0px;
  margin-top: 15px;
  font-size: 100px;
  width: 100%;
}
.h1-column {
  color: #C5D4CE;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  margin-bottom: 200px;
  margin-top: 15px;
  font-size: 100px;
  width: 100%;
  position:absolute;
  top: -10%;
  left: 50%;
  bottom: 10%;
  transform: translateX(-50%);
  padding: 20px;
  z-index: 100;
}
.h2-column {
  color: #C5D4CE;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  margin-bottom: 0px;
  padding-left: 10px;
  margin-top: 35px;
  font-size: 30px;
  width: 100%;
}
.p-column {
  margin-top: 0px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 100px;
  color: #C5D4CE;
  font-size: 16px;
  align-items: center;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}
.p-overlay {
  margin-top: 0px;
  padding-top: 10px;
  padding-left: 100px;
  padding-right: 100px;
  color: #C5D4CE;
  font-size: 22px;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}
.p-title {
  margin: 0px;
  color: #C5D4CE;
  font-size: 22px;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}

.btn {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 15px;
  display: inline-block;
  padding: 15px 15px 15px 15px;
  margin: 10px;
  background-color: #081525;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}
.btn:hover {
  background-color: #C5D4CE;
  color: #081525;
}
.btn-container {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
  margin-left: 15%;
  margin-right: 11%;
}

body {
  background-color:rgb(255, 254, 241);
}

.intro-h1 {
  color: #202020;
  font-size: 120px;
  font-family: 'Montserrat', san-serif;
  font-weight:600;
  margin: 0px;
}
.home-body {
  font-family: 'Montserrat', san-serif;
  padding-top: 10px;
  color: #202020;
  margin-top: 0px;
}

.blog-container1 {
  background-color: #c2c2cf;
  float: left;
  width: 49%;
  height: auto;
  margin-bottom: 10px;
  margin-top: 10px;
}

.blog-container1 h1 {
  font-size: 100px;
  color:#202020;
}

.blog-container1 h2 {
  font-size: 38px;
  color:#0d5353;
}

.blog-container2 {
  background-color: #c2c2cf;
  float: right;
  width: 49%;
  height: auto;
  margin-bottom: 10px;
  margin-top: 10px;
}

.blog-container2 h1 {
  font-size: 100px;
  color:#202020;
}

.blog-container2 h2 {
  font-size: 38px;
  color:#0d5353;
}

.blog-container3 {
  float: right;
  width: 90%;
  height: auto;
  margin: 20px;
}
.blog-container3 h2 {
  font-size: 38px;
  color:#0d5353;
}

@media (min-width: 320px) {
  .blog-container1 h1 {
    font-size: 30px;
  }
  .blog-container1 h2 {
    font-size: 8px;
  }
  .blog-container2 h1 {
    font-size: 30px;
  }
  .blog-container2 h2 {
    font-size: 8px;
  }
  .blog-container3 h1 {
    font-size: 30px;
  }
  .blog-container3 h2 {
    font-size: 8px;
  }
  .blog-container3 h3 {
    font-size: 6px;
  }

  .intro-h1 {
    font-size: 30px;
  }

    .home-body {
  font-size: 6px;
}
.padding {
  font-size: 6px;
}


}

@media (min-width: 768px) {
  .blog-container1 h1 {
    font-size: 60px;
  }
  .blog-container1 h2 {
    font-size: 20px;
  }
  .blog-container2 h1 {
    font-size: 60px;
  }
  .blog-container2 h2 {
    font-size: 20px;
  }
  .blog-container3 h1 {
    font-size: 60px;
  }
  .blog-container3 h2 {
    font-size: 20px;
  }
  .blog-container3 h3 {
    font-size: 16px;
  }
  .intro-h1 {
    font-size: 60px;
  }

    .home-body {
  font-size: 16px;
}

}


@media (min-width: 1024px) {
  .blog-container1 h1 {
    font-size: 120px;
  }
  .blog-container1 h2 {
    font-size: 38px;
  }
  .blog-container2 h1 {
    font-size: 120px;
  }
  .blog-container2 h2 {
    font-size: 38px;
  }
  .blog-container3 h1 {
    font-size: 120px;
  }
  .blog-container3 h2 {
    font-size: 38px;
  }
  .blog-container3 h3 {
    font-size: 20px;
  }

  .intro-h1 {
    font-size: 120px;
  }

    .home-body {
  font-size: 20px;
}

}

.image-container {
  background-color: #0c1f53;
  float: right;
  width: 50%;
  height: 400px;
  margin-bottom: 10px;
}

.image-container img {
  float: right;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;

}

h1 {
  color: #222936;
  font-size: 120px;
  font-family: 'Montserrat', san-serif;
  font-weight:600;
}
h2 {
  font-family: 'Montserrat', san-serif;
  font-size: 40px;
  color:#0d5353;
  margin-top: 10px;
  margin-bottom: 10px;
}
h3 {
    font-family: 'Montserrat', san-serif;
    font-size: 20px;
    font-weight:600;
    color:#0d5353;
    padding: 0px;
    margin: 0px;
}
p {
  font-family: 'Montserrat', san-serif;
  padding-top: 10px;
}
.link {
  font-family: 'Montserrat', san-serif;
  padding-top: 10px;
}

ol {
  font-family: 'Montserrat', san-serif;
  padding-top: 10px;
}
.menunav {
  overflow: hidden;
  background-color: rgb(255, 254, 241);
}

.menunav a{
  float: left;
  color: #181818;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 15px;
  font-family: 'Montserrat', san-serif;
  font-weight:600;
}
.menunav a:hover {
  background-color: #848484;
  color: black;
}

.menunav a.active {
  background-color: #0c1f53;
  color: white;
}
.intro-image {
  height: 600px;
  float: right;

}

.sprint1-image {
  width: 600px;
  float: right;
}
.sprint3-image {
  width: 600px;
  float: right;
  margin-top: -30px;
}

.sprint4-image {
  width: 600px;
  float: right;
  margin-top: -30px;
}

.sprint5-image {
  width: 600px;
  float: right;
  margin-top: -30px;
}


.home-content {
  width: 800px;
  float: left;
}
.values-content {
  width: 100%;
  float: left;
}
.intro-h1 {
  padding-top: 0px;
  padding-bottom: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.home-body {
  padding-top: 10px;
  margin-top: 0px;
}
.solid {
  margin-top:50px;
  margin-bottom: 50px;
  border-top: 2px solid #bbb;
}
.blog-divider {
  margin-top: 450px;
}
.sprint2-image {
  width: 600px;
  float: right;
  margin-top: -40px;
}

br {
  padding: 0px;
  margin: 10px;
}

.descriptions {
 background-color: #c7c7c7;
 color: #ffffff; 
}
.h2-descriptions {
padding: 20px;
}
.padding {
  width: 60%;
  height: auto;
  padding-left: 0px;
}
.sushi {
  width: 60%;
  height: auto;
  padding-left: 0px;
}

.sandwich {
  width: 60%;
  height: auto;
  padding-left: 0px;
}

.dom {
  width: 60%;
  height: auto;
  padding-left: 0px;
}

* {
  box-sizing: border-box;
}

.column {
  float: left;
  padding: 10px;
}

.column.right img {
  max-width: 100%;
  height: auto;
}

.left {
  width: 50%;
  margin-bottom: 20px;
}

.right {
  width: 50%;
  margin-bottom: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.columns-container {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}